{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Добро пожаловать!</h1>
    <div class="card-container">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        {% if current_user.is_specialist() %}
                        {{ total_requests }}
                        {% else %}
                        {{ user_requests }}
                        {% endif %}
                    </h5>
                    <h6 class="card-subtitle">
                        {% if current_user.is_specialist() %}
                        Обращений
                        {% else %}
                        Мои обращения
                        {% endif %}
                    </h6>
                    <a href="{{ url_for('requests.list_requests') }}" class="btn btn-dashboard">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ total_users }}</h5>
                    <h6 class="card-subtitle">Список пользователей</h6>
                    <a href="{{ url_for('users.list_users') }}" class="btn btn-dashboard">Подробнее</a>
                </div>
            </div>
        </div>
        {% if current_user.is_specialist() %}
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ total_incidents }}</h5>
                    <h6 class="card-subtitle">Нерешённых инцидентов</h6>
                    <a href="{{ url_for('incidents.list_incidents') }}" class="btn btn-dashboard">Подробнее</a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}