{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Список инцидентов</h1>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Статус</th>
                <th>Дата создания</th>
            </tr>
        </thead>
        <tbody>
            {% for incident in incidents %}
            <tr>
                <td>{{ incident[0] }}</td>
                <td>{{ incident[1] }}</td>
                <td>{{ incident[2] }}</td>
                <td>{{ incident[3] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}