{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>Регистрация</h1>
    <form method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Имя пользователя</label>
            <input type="text" class="form-label" id="username" name="username" required>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" class="form-label" id="password" name="password" required>
        </div>
        <div class="mb-3">
            <label for="role" class="form-label">Роль</label>
            <select class="form-select" id="role" name="role">
                <option value="user">Пользователь</option>
                <option value="admin">Системный администратор</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        <a href="{{ url_for('auth_routes.login') }}" class="btn btn-secondary">Войти</a>
    </form>
</div>
{% endblock %}